# pytorch
--extra-index-url https://download.pytorch.org/whl/cu116
torch~=1.12.1
torchvision~=0.13.1

# pororo
fairseq~=0.12.2
transformers~=4.22.1
sentence-transformers~=2.2.2
nltk~=3.7
word2word~=1.0.0
wget~=3.2
joblib~=1.2.0
lxml~=4.9.1
g2p_en~=2.1.0
whoosh~=2.7.4
marisa-trie~=0.7.7
kss~=3.6.2

# dev
black~=22.8.0
isort[requirements_deprecated_finder]~=5.10.1
pylint~=2.14.4
notebook~=6.4.12
ipywidgets~=7.7.1
